In [40]:
import sys
sys.path.append('../data')
from answer import dictionary #real_w
from wordle import rand_select ,word_compare,end_game
from scipy.stats import entropy
import pandas as pd
import random
real_W = sorted(dictionary)
pos_W =  sorted(dictionary)

In [15]:
def word_compare_1d(target,w_lst):
    '''word compare word to all words'''
    re_lst=[]
    for word in w_lst:
        re_lst.append(word_compare(target,word))
    return re_lst

def gen_table(w_lst1,w_lst2):
    '''
    gen lst1*lst2 table
    
    '''
    word_table={}
    for w1 in w_lst1:
        word_table[w1] = word_compare_1d(w1,w_lst2)
    return word_table

In [57]:
def best_entropy(table,step=0):
    best = 0
    best_w =''
    for idx,key in enumerate(table):
        entro_score = entropy(table[key].value_counts().values/len(table),base=2)
        if entro_score>best:
            best = entro_score
            best_w = key
    print("best word: {}, score: {}".format(best_w,best))
    return best_w

In [74]:
def sub_table(table, guess_w, row_idx, answer):
    sub_s = table[guess_w]
    cand_t = (sub_s[sub_s == word_compare(guess_w,answer)])
    print(cand_t)
    cand = table.columns[cand_t.index]
    return table.iloc[list(cand_t.index)]

In [75]:
sub_table(test_table,'afire',real_w, "whiff")

762     01200
763     01200
787     01200
1725    01200
1824    01200
1925    01200
1984    01200
2253    01200
Name: afire, dtype: object

IndexError: index 762 is out of bounds for axis 0 with size 255

In [79]:
test_table.tail(10)

,abide,admin,admit,affix,afire,again,agile,aging,alibi,alien,...,weigh,weird,whiff,while,whine,whirl,white,wring,wrist,write
2240,00201,00010,00010,00010,00201,01010,01201,01200,00201,00210,...,22222,22200,21200,21201,21201,21200,21201,20201,20200,20201
2241,00211,01010,01010,00010,00221,00010,00201,00200,00201,00210,...,22200,22222,20200,20201,20201,20220,20201,21200,21200,21201
2253,00200,00010,00010,01110,01200,00010,00200,00200,00201,00200,...,20201,20200,22222,22200,22200,22200,22200,20200,20200,20200
2254,00202,00010,00010,00010,00202,00010,00222,00200,01201,01210,...,21201,21200,22200,22222,22202,22201,22202,20200,20200,20202
2255,00202,00011,00010,00010,00202,00011,00202,00220,00201,00211,...,21201,21200,22200,22202,22222,22200,22202,20220,20200,20202
2257,00200,00010,00010,00010,00220,00010,00210,00200,01201,01200,...,20201,20220,22200,22210,22200,22222,22200,21200,21200,21200
2259,00202,00010,00011,00010,00202,00010,00202,00200,00201,00210,...,21201,21200,22200,22202,22202,22200,22222,20200,20201,20222
2299,00200,00011,00010,00010,00210,01011,01200,01222,00201,00201,...,20210,20210,20200,20200,20220,20210,20200,22222,22200,22200
2300,00200,00010,00012,00010,00210,00010,00200,00200,00201,00200,...,20200,20210,20200,20200,20200,20210,20210,22200,22222,22210
2301,00202,00010,00011,00010,00212,00010,00202,00200,00201,00210,...,21200,21210,20200,20202,20202,20210,20222,22200,22201,22222

In [36]:
def guess(table,row_idx,step=0):
    '''
    step 0 -> find best entropy within raw table
    step > find best entropy within filtered table
    n*m tabel 
    n -> pos_w (table.column)
    m -> real_w
    '''
    guess_w = best_entropy(table)
    re_table = sub_table(table,guess_w,row_idx,ans)
    
    return re_table

In [63]:
table =  pd.DataFrame(gen_table(real_w,real_w))

In [16]:
ans = rand_select(real_w)
print(ans)

guess = []
guess.append(rand_select(real_w))
print(guess[-1])
sub_s = table[guess[-1]]
cand_t = (sub_s[sub_s == word_compare(guess[-1],ans)])

seize
picky

In [64]:
test = sub_table(table,"trace",real_w,ans)

In [65]:
test

,biddy,billy,bingo,bison,blimp,blind,blink,bliss,blond,blood,...,willy,wimpy,windy,wispy,woody,wooly,woozy,would,wound,young
193,22222,22002,22000,22000,20100,20101,20100,20100,20001,20001,...,02002,02002,02022,02002,00022,00002,00002,00001,00001,10000
196,22002,22222,22000,22000,21100,21100,21100,21100,21000,21000,...,02222,02002,02002,02002,00002,00022,00002,00020,00000,10000
198,22000,22000,22222,22011,20100,20110,20110,20100,20110,20100,...,02000,02000,02200,02000,01000,01000,01000,01000,01010,01011
202,22000,22000,22101,22222,20100,20110,20110,20110,20110,20120,...,02000,02000,02100,02200,01000,01000,01000,01000,01010,01010
218,21000,21100,21000,21000,22222,22200,22200,22200,22000,22000,...,01100,01110,01000,01010,00000,00010,00000,00010,00000,00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2283,00002,00122,00001,00010,01000,01000,01000,01000,01200,01210,...,20122,20002,20002,20002,22202,22222,22202,22020,22000,12000
2284,00002,00002,00001,00010,00000,00000,00000,00000,00200,00210,...,20002,20002,20002,20002,22202,22202,22222,22000,22000,12000
2291,00100,00120,00001,00010,01000,01002,01000,01000,01102,01102,...,20120,20000,20010,20000,22110,22120,22100,22222,22202,02200
2292,00100,00000,00101,00011,00000,00022,00020,00000,00122,00102,...,20000,20000,20110,20000,22110,22100,22100,22202,22222,02220
2310,00001,00001,00111,00011,00000,00020,00020,00000,00120,00100,...,00001,00001,00101,00001,02101,02101,02101,02200,02220,22222

In [72]:
condition = False
ans = rand_select(real_w)
print("wordle answer :",ans)
while(condition==False):
    gue = best_entropy(table)
    hint = word_compare(gue,ans)
    print("hint: ",hint)
    table = sub_table(table,gue,real_w,ans)
    condition = end_game(hint)

wordle answer : eclat
best word: raise, score: 5.877909690821481
hint:  01001
best word: cleat, score: 4.636801630377668
hint:  11122

IndexError: positional indexers are out-of-bounds

In [53]:
table

,aback,abase,abate,abbey,abbot,abhor,abide,abled,abode,abort,...,wryly,yacht,yearn,yeast,yield,young,youth,zebra,zesty,zonal
0,22222,22200,22200,22100,22100,22000,22000,22000,22000,22000,...,00000,01100,00200,00200,00000,00000,00000,00101,00000,00010
1,22200,22222,22202,22110,22100,22000,22002,22010,22002,22000,...,00000,01000,01200,01220,00100,00000,00000,01101,01100,00010
2,22200,22202,22222,22110,22101,22000,22002,22010,22002,22001,...,00000,01001,01200,01201,00100,00000,00020,01101,01020,00010
3,22100,22101,22101,22222,22200,22000,22001,22020,22001,22000,...,00102,11000,11100,11100,10100,10000,10000,01201,01002,00010
4,22100,22100,22110,22200,22222,22020,22000,22000,22100,22102,...,00000,01002,00100,00102,00000,01000,01010,00201,00010,01010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2310,00000,00000,00000,00001,00010,00010,00000,00000,00100,00100,...,00100,20000,20001,20000,20000,22222,22200,00000,00001,02100
2311,00000,00000,00020,00001,00011,00110,00000,00000,00100,00101,...,00100,20011,20000,20001,20000,22200,22222,00000,00021,02000
2312,11000,11001,11001,11210,11200,11001,11001,11010,11001,11020,...,01000,01000,02120,02100,00100,00000,00000,22222,22000,20010
2313,00000,00011,00021,00012,00001,00000,00001,00010,00001,00001,...,00102,10001,12000,12011,10100,10000,10020,22000,22222,20000
2314,10000,10000,10000,10000,10010,10010,10000,10100,10100,10100,...,00010,01000,00101,00100,00010,02010,02000,20001,20000,22222

In [17]:
cand_t.index

Int64Index([   6,   21,   22,   28,   29,   33,   37,   38,   50,   51,
            ...
            2240, 2241, 2253, 2254, 2255, 2257, 2259, 2299, 2300, 2301],
           dtype='int64', length=255)

In [68]:
cand = table.columns[cand_t.index]

In [69]:
test_table = table[cand].iloc[list(cand_t.index)]

In [47]:
entropy(test_table["bison"].value_counts().values/9)

NameError: name 'test_table' is not defined

In [48]:
entropy([1,0])

0.0

In [49]:
best_entropy(table)

best word: , score: 1000

''

,aback,abase,abate,abbey,abbot,abhor,abide,abled,abode,abort,...,wryly,yacht,yearn,yeast,yield,young,youth,zebra,zesty,zonal
0,22222,22200,22200,22100,22100,22000,22000,22000,22000,22000,...,00000,01100,00200,00200,00000,00000,00000,00101,00000,00010
1,22200,22222,22202,22110,22100,22000,22002,22010,22002,22000,...,00000,01000,01200,01220,00100,00000,00000,01101,01100,00010
2,22200,22202,22222,22110,22101,22000,22002,22010,22002,22001,...,00000,01001,01200,01201,00100,00000,00020,01101,01020,00010
3,22100,22101,22101,22222,22200,22000,22001,22020,22001,22000,...,00102,11000,11100,11100,10100,10000,10000,01201,01002,00010
4,22100,22100,22110,22200,22222,22020,22000,22000,22100,22102,...,00000,01002,00100,00102,00000,01000,01010,00201,00010,01010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2310,00000,00000,00000,00001,00010,00010,00000,00000,00100,00100,...,00100,20000,20001,20000,20000,22222,22200,00000,00001,02100
2311,00000,00000,00020,00001,00011,00110,00000,00000,00100,00101,...,00100,20011,20000,20001,20000,22200,22222,00000,00021,02000
2312,11000,11001,11001,11210,11200,11001,11001,11010,11001,11020,...,01000,01000,02120,02100,00100,00000,00000,22222,22000,20010
2313,00000,00011,00021,00012,00001,00000,00001,00010,00001,00001,...,00102,10001,12000,12011,10100,10000,10020,22000,22222,20000
2314,10000,10000,10000,10000,10010,10010,10000,10100,10100,10100,...,00010,01000,00101,00100,00010,02010,02000,20001,20000,22222